.idea
data
tokenizers
pretrain_models
finetune_models
results
*.pyc
*.csv
*.xlsx
*.tsv
*.pptx
*.meme
*.gff
*.docx
*.fa
*.pkl
*.zip
*.png
*.html
*.h5
*.nfs*
*.sh
*.out
*.vscode*
*.nfs*
*.log
*.ct
filtered_counts.txt